img {
  width: 100%;
  height: auto;
}
.active{ 
color: red;
text-decoration: underline;
}
h1{
margin: 2em auto;
 text-align: center;
 color: grey;
}
.container {
padding-left: 5%;
padding-right: 5%;
}
#BasicMap {
 height: 700px;
}
#footer {
padding: 10px 10px 0px 10px;
bottom: 0;
width: 99%; 
height: 60px;
margin-top: 5%;
background-color: grey;
}